$grayishBlue:hsl(237, 18%, 59%);
$softRed:hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$darkDesaturedBlue:hsl(236, 21%, 26%);
$veryDarkBlue:hsl(235, 16%, 14%);
$mostlyDarkBlue:hsl(234, 17%, 12%);
$font-fam:'Red Hat Text';
$font-size:0.875rem;
$font-weight:700;